.advantages {
  margin: 0 30px;
  padding: 24px 0 60px;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin: 0;
    padding: 32px 0 0;
    font-size: 17px;
    font-weight: 700;
    line-height: em(21, 17);
    & svg {
      display: block;
      margin-bottom: 16px;
      fill: #59d5bc;
    }
    &--1 {
      width: 180px;
    }
    &--2 {
      width: 200px;
    }
    &--3 {
      width: 180px;
    }
    &--4 {
      width: 220px;
    }
    &--5 {
      & svg {
        margin-bottom: 30px;
      }
    }
    &--6 {
      width: 200px;
    }
  }
}
@media #{$tablet-widths} {
  .advantages {
    @include clearfix();
    margin: 0 6.5%;
    padding: 60px 0 40px;
    &__list-group {
      float: left;
      width: 50%;
    }
    &__item {
      box-sizing: border-box;
      width: 300px;
      padding: 55px 0 0;
      margin: 0 0 45px;
      font-size: 20px;
    }
  }
}
@media #{$desktop-widths} {
  .advantages {
    margin: 0 200px 0 225px;
    padding: 65px 0 80px;
  }
}
