.comment {
  &__text {
    margin: 0;
    padding: 20px 0;
    margin-bottom: 7px;
    color: #444;
    font-size: 15px;
    line-height: em(30, 15);
  }
  &__author {
    font-size: 18px;
    font-weight: 700;
    line-height: em(26, 18);
  }
  &__nickname {
    margin-bottom: 30px;
    color: #444;
    font-size: 18px;
    line-height: em(30, 18);
  }
}
@media #{$tablet-widths} {
  .comment {
    width: 100%;
    padding-right: 160px;
    padding-bottom: 22px;
    &__text {
      padding: 0 0 55px;
      font-size: 17px;
      line-height: em(30, 17);
    }
    &__author-wrapper {
      float: left;
    }
    &__author {
      margin: 0;
      padding: 0;
      font-size: 17px;
      line-height: 24px;
    }
  }
}
@media #{$desktop-widths} {
  .comment {
    padding: 0;
    &__text {
      padding-top: 3px;
      padding-right: 130px;
      padding-bottom: 33px;
    }
  }
}
