.contacts {
  margin: 0 30px;
  padding: 25px 0 38px;
  &__header {
    margin: 0 0 20px;
    padding: 6px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: em(30, 18);
    & svg {
      display: none;
    }
  }
  &__item-wrapper {
    @include clearfix;
    margin-bottom: 30px;
    color: #444;
    font-size: 15px;
    line-height: em(30, 15);
  }
  &__title {
    float: left;
    width: 77px;
  }
  &__content {
    float: left;
    width: 180px;
  }
  &__content--address {
    width: 150px;
    margin-bottom: 8px;
  }
  &__address-house {
    display: block;
  }
  &__email-link {
    text-decoration: none;
    color: #444;
    padding-bottom: 5px;
    border-bottom: 1px solid #6bd3be;
    &:hover {
      color: #6bd3be;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
@media #{$tablet-widths} {
  .contacts {
    margin: 0;
    padding: 70px 6.5% 58px;
    background: url('../img/bg-zigzag-line.svg') 0 0 repeat-x;
    background-size: 100%;
    &__header {
      font-size: 43px;
      line-height: em(50, 43);
      padding-top: 14px;
      padding-bottom: 29px;
      & svg {
        display: inline-block;
        float: right;
        width: 55px;
        height: 80px;
        margin-top: -14px;
      }
    }
    &__item-wrapper {
      float: left;
      display: flex;
      width: 50%;
      font-size: 17px;
      line-height: em(30, 17);
    }
    &__title {
      float: none;
      margin-right: 11px;
      width: 20%;
    }
    &__content {
      float: none;
      width: 45%;
      &--address {
        width: 260px;
        margin-bottom: 26px;
      }
    }
    &__address-street {
      display: block;
    }
  }
}
@media #{$desktop-widths} {
  .contacts {
    padding: 0;
    margin: 0;
    &__wrapper {
      @include clearfix;
      width: 880px;
      margin: 0 auto;
      padding: 164px 50px 105px 220px;
    }
    &__header {
      margin-bottom: 20px;
      font-size: 53px;
      font-weight: 700;
      line-height: em(57, 53);
      & svg {
        float: left;
        margin-left: -112px;
        margin-top: -10px;
      }
    }
    &__item-wrapper {
      float: none;
      padding-left: 3px;
      width: 300px;
    }
    &__title {
      margin-right: 25px;
    }
    &__title--email {
      margin-right: 18px;
    }
    &__content--address {
      margin-bottom: 50px;
    }
  }
}
