.index-header {
  margin: 0;
  padding: 0;
  @media #{$mobile-widths} {
    background: url('../img/hero-mobile@1x.jpg') #f9f9f9 50% 61px no-repeat;
    @media #{$retina} {
      background-image: url('../img/hero-mobile@2x.jpg');
      background-size: 575px auto;
    }
  }
  &__about {
    width: 244px;
    margin: 71px auto 121px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    & span {
      display: block;
    }
  }
  &__catalog-block {
    display: block;
    width: 100%;
    height: 78px;
    padding-top: 25px;
    background: #63d1bb;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      height: 83px;
      margin-top: -5px;
      & svg {
        fill: #29a492;
      }
    }
    &:active .index-header__catalog-title {
      color: #7ed4c6;
    }
    &:active svg {
      fill: #37b2a0;
    }
    &--darken {
      background-color: #56c3b2;
    }
    & svg {
      display: inline-block;
      float: right;
      margin-right: 25px;
      margin-top: -3px;
      fill: #3bb09d;
    }
  }
  &__catalog-title {
    display: inline-block;
    width: 110px;
    margin-left: 29px;
    font-size: 19px;
    color: white;
    line-height: 24px;
  }
}
@media #{$tablet-widths} {
  .index-header {
    position: relative;
    background: url('../img/hero-desktop@1x.jpg') 50% 88px no-repeat;
    margin: 0;
    @media #{$retina} {
      background-image: url('../img/hero-desktop@2x.jpg');
      background-size: 1150px auto;
    }
    &__about {
      width: 500px;
      padding: 0;
      margin: 154px auto 373px;
      font-size: 43px;
      font-weight: 700;
      line-height: 50px;
      & span {
        display: inline;
      }
    }
    &__wrapper {
      @include clearfix;
      margin: 0 6.5%;
    }
    &__catalog-block {
      box-sizing: border-box;
      width: 50%;
      margin: 0;
      height: 135px;
      float: left;
      color: white;
      padding-top: 28px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 700;
      line-height: 35px;
      &:hover {
        height: 135px;
        margin-top: -5px;
      }
      &--darken {
        float: right;
        margin-left: 0;
      }
    }
    &__catalog-title {
      line-height: 30px;
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: '';
      height: 50px;
      width: 100%;
      background-image: url('../img/bg-zigzag-fill.svg');
      background-repeat: repeat-x;
      background-position: bottom left;
    }
  }
}
@media #{$desktop-widths} {
  .index-header {
    margin: 0;
    padding: 0;
    background: #f9f9f9 url('../img/hero-desktop@1x.jpg') 50% 89px no-repeat;
    &__about {
      width: 620px;
      margin: 155px auto 360px;
      font-size: 53px;
      line-height: em(57, 53);
    }
    &__wrapper {
      width: 1050px;
      margin: 0 auto;
    }
  }
}
