.item-card {
  padding: 28px 30px 45px;
  background: url('../img/bg-zigzag-line.svg') 0 100% repeat-x;
  &__header {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: em(32, 24);
  }
  &__banner {
    margin-bottom: 23px;
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    line-height: em(24, 17);
    text-transform: uppercase;
  }
  &__description {
    margin-bottom: 18px;
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: em(24, 15);
  }
  &__image {
    margin-bottom: 20px;
  }
  &__price {
    width: 100%;
    height: 17px;
    margin-bottom: 32px;
    color: #444;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: em(24, 17);
  }
}
@media #{$tablet-widths} {
  .item-card {
    margin: 0;
    padding: 0 6.5%;
    padding-top: 30px;
    padding-bottom: 75px;
    background: url('../img/bg-zigzag-line.svg') 0 100% repeat-x;
    background-size: 100%;
    &__header {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 50px;
      width: 430px;
      font-size: 43px;
      font-weight: 700;
      line-height: em(50, 43);
    }
    &__banner {
      float: right;
      text-align: center;
      width: 70px;
      margin: 0 30px 0 0;
      padding-top: 10px;
      font-size: 17px;
      line-height: 1.1em;
    }
    &__description {
      width: 42.6%;
      min-width: 285px;
      margin: 0 0 35px;
      font-size: 17px;
      line-height: em(30, 17);
    }
    &__price {
      width: 42.6%;
      min-width: 285px;
      font-size: 20px;
      margin-bottom: 44px;
      text-align: center;
    }
    &__image {
      float: right;
      width: 333px;
      margin: -292px 0 0;
      padding: 0;
      font-size: 0;
    }
    & .btn {
      width: 43.5%;
      min-width: 285px;
    }
  }
}
@media #{$desktop-widths} {
  .item-card {
    margin: 0;
    padding: 106px 50px 107px 220px;
    &__header {
      width: 800px;
      margin-bottom: 47px;
      font-size: 52px;
    }
    &__banner {
      float: left;
      margin: 17px 0 0 -125px;
      padding: 0;
    }
    &__description {
      width: 292px;
      margin-bottom: 48px;
      padding-left: 5px;
    }
    &__price {
      width: 292px;
      margin-bottom: 43px;
      padding-left: 10px;
    }
    &__image {
      width: 525px;
      margin: -525px 0 0;
    }
    & .btn {
      width: 292px;
      margin-left: 5px;
    }
  }
}
