.item-card {
  padding: 30px 30px 50px;
  background: url('../img/bg-zigzag-line.svg') 0 100% repeat-x;
  &__header {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: em(30, 24);
  }
  &__banner {
    margin-bottom: 10px;
    color: #63d1bb;
    font-size: 17px;
    font-weight: 700;
    line-height: em(24, 17);
    text-transform: uppercase;
  }
  &__description {
    margin-bottom: 15px;
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: em(24, 15);
  }
  &__image {
    margin-bottom: 30px;
  }
  &__price {
    width: 100%;
    height: 17px;
    margin-bottom: 30px;
    color: #444;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: em(24, 17);
  }
}
@media #{$tablet-widths} {
  .item-card {
    margin: 0;
    padding: 6.5%;
    background: url('../img/bg-zigzag-line.svg') 0 100% repeat-x;
    background-size: 110%;
    &__header {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 55px;
      width: 430px;
      font-size: 43px;
      font-weight: 700;
      line-height: em(50, 43);
    }
    &__banner {
      float: right;
      width: 70px;
      margin: 0 30px 0 0;
      font-size: 17px;
    }
    &__description {
      width: 42.6%;
      min-width: 285px;
      margin: 0 0 35px;
      font-size: 17px;
      line-height: em(30, 17);
    }
    &__price {
      width: 42.6%;
      min-width: 285px;
      margin-bottom: 30px;
    }
    &__image {
      float: right;
      width: 333px;
      margin: -305px 0 0;
      padding: 0;
      font-size: 0;
    }
    & .btn {
      width: 42.6%;
      min-width: 285px;
    }
  }
}
@media #{$desktop-widths} {
  .item-card {
    margin: 0;
    padding: 150px 50px 100px 225px;
    &__banner {
      float: left;
      margin: 0 0 0 -150px;
      padding: 0;
    }
    &__description {
      width: 292px;
      margin-bottom: 55px;
    }
    &__price {
      width: 292px;
      margin-bottom: 77px;
    }
    &__image {
      width: 525px;
      margin: -490px 0 0;
    }
    & .btn {
      width: 292px;
    }
  }
}
