.item-table {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #444;
  font-size: 15px;
  line-height: em(20,15);
  &__row {
    display: table-row;
  }
  &__data {
    display: table-cell;
    height: 35px;
    padding-top: 10px;
    border-bottom: 1px solid #ececec;
  }
  &__data:first-of-type {
    width: 100px;
  }
}
@media #{$tablet-widths} {
  .item-table {
    width: 42.6%;
    min-width: 285px;
    margin-right: 0;
    margin-bottom: 55px;
  }
}
@media #{$desktop-widths} {
  .item-table {
    width: 292px;
    margin-bottom: 80px;
  }
}
