.map {
  &--no-script {
    display: none;
  }
  &--script {
    width: 100%;
    height: 457px;
  }
  position: relative;
  margin-left: -11.5%;
  margin-right: -11.5%;
  margin-bottom: 40px;
  font-size: 0;
  & svg {
    position: absolute;
    left: 38.5%;
    top: 36%;
    width: 21%;
    height: 22%;
    fill: white;
  }
}
@media #{$tablet-widths} {
  .map {
    clear: both;
    padding: 0;
    margin: 0 -7.5%;
    margin-bottom: 55px;
  }
}
@media #{$desktop-widths} {
  .map {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: -405px;
    width: 525px;
    height: 457px;
    overflow: hidden;
    & svg {
      position: absolute;
      left: 40%;
      top: 36%;
      width: 21%;
      height: 22%;
      fill: white;
    }
  }
}
