.map {
  margin-left: -11.5%;
  margin-right: -11.5%;
  margin-bottom: 40px;
  font-size: 0;
  & iframe {
    height: 457px;
    width: 100%;
  }
}
@media #{$tablet-widths} {
  .map {
    clear: both;
    padding: 0;
    margin: 0 -7.5% 55px;
  }
}
@media #{$desktop-widths} {
  .map {
    float: right;
    padding: 0;
    margin: -405px 0 0;
    width: 525px;
    height: 457px;
    overflow: hidden;
  }
}
