.page-header {
  margin: 0;
  padding: 0;
  &__title {
    margin: 0;
    padding: 75px 0;
    background: #f1f1f1;
    font-size: 27px;
    font-weight: 700;
    line-height: em(30, 27);
    text-align: center;
  }
}
