.page-header {
  margin: 0;
  padding: 0;
  &__title {
    margin: 0;
    padding: 70px 0 80px;
    background: #f1f1f1;
    font-size: 27px;
    font-weight: 700;
    line-height: em(30, 27);
    text-align: center;
  }
}
@media #{$tablet-widths} {
  .page-header {
    position: relative;
    &__title {
      padding-top: 96px;
      padding-bottom: 84px;
      font-size: 43px;
      line-height: em(50, 43);
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: '';
      height: 30px;
      width: 100%;
      background-image: url('../img/bg-zigzag-fill.svg');
      background-size: 100% 30px;
      background-repeat: repeat-x;
      background-position: bottom center;
      bottom: -10px;
    }
  }
}
@media #{$desktop-widths} {
  .page-header {
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      content: '';
      height: 40px;
      width: 100%;
      background-image: url('../img/bg-zigzag-fill.svg');
      background-size: 100% 40px;
      background-repeat: repeat-x;
      background-position: bottom center;
      bottom: -20px;
    }
    &__title {
      padding-bottom: 100px;
      font-size: 53px;
      line-height: em(57, 53);
    }
  }
}
