.top-logo {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 10px 0 0 150px;
  cursor: pointer;
  &--desktop {
    display: none;
  }
  &--tablet {
    display: none;
  }
}
.down-logo {
  display: none;
}
@media #{$tablet-widths} {
  .down-logo {
    display: block;
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
