.top-logo {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 70%;
  height: 100%;
  margin: 0;
  padding-left: 28%;
  padding-top: 10px;
  cursor: pointer;
  &:hover svg {
    fill: #666;
  }
  &:active svg {
    fill: #b2b2b2;
  }
}
.down-logo {
  display: none;
}
@media #{$tablet-widths} {
  .top-logo {
    padding-top: 22px;
    padding-left: 3.5%;
    & picture {
      width: 113px;
      height: 46px;
    }
  }
  .down-logo {
    display: block;
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: #bde2dd;
    }
  }
}
@media #{$desktop-widths} {
  .top-logo {
    padding: 10px 0 0 6%;
    & picture {
      width: 149px;
      height: 72px;
    }
  }
}
