.top-logo {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 70%;
  height: 100%;
  margin: 0;
  padding-left: 28%;
  padding-top: 3%;
  cursor: pointer;
  &:hover svg {
    fill: #666;
  }
  &:active svg {
    fill: #b2b2b2;
  }
  &--desktop {
    display: none;
  }
  &--tablet {
    display: none;
  }
  &--tablet {
    display: none;
  }
  &--desktop {
    display: none;
  }
}
.down-logo {
  display: none;
}
@media #{$tablet-widths} {
  .top-logo {
    padding-top: 6.5%;
    padding-left: 3.5%;

    &--mobile {
      display: none;
    }
    &--tablet {
      display: block;
    }
  }
  .down-logo {
    display: block;
    width: 33%;
    margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: #bde2dd;
    }
  }
}
@media #{$desktop-widths} {
  .top-logo {
    padding: 0;
    padding-left: 6%;
    padding-top: 3%;
    &--tablet {
      display: none;
    }
    &--desktop {
      display: block;
      padding: 0;
      margin: 0;
    }
  }
}
