.main-nav {
  margin: 0;
  padding: 0;
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin: 0;
    padding: 0;
  }
  &__delivery-info,
  &__item--new-products,
  &__item--sale {
    display: none;
  }
  &__link {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    height: 79px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    line-height: 79px;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    background: white;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    &--visible {
      display: block;
    }
    &:hover {
      color: #666;
    }
    &:active {
      color: #b2b2b2;
    }
  }
  &__link--catalog,
  &__link--form {
    padding-left: 75px;
  }
  &__link--cart svg,
  &__link--search svg {
    float: left;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 21px;
    fill: #d3d2d2;
  }
  &__link--cart:hover svg,
  &__link--search:hover svg {
    fill: #63d1bb;
  }
  &__link--cart:active svg,
  &__link--search:active svg {
    fill: #d6f3ed;
  }
  &__closed {
    display: none;
  }
}
@media #{$tablet-widths} {
  .main-nav {
    &__mob {
      display: block;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item--logo {
      order: 1;
      width: 48.5%;
    }
    &__item--search {
      order: 2;
      width: 10.5%;
    }
    &__item--cart {
      order: 3;
      width: 41%;
    }
    &__item--catalog {
      order: 4;
      width: 29%;
    }
    &__item--form {
      order: 5;
      width: 18%;
    }
    &__delivery-info {
      box-sizing: border-box;
      display: block;
      order: 6;
      width: 53%;
      padding: 0 0 0 70px;
      text-align: right;
      height: 60px;
      line-height: 60px;
      font-size: 15px;
      text-align: center;
    }
    &__link {
      box-sizing: border-box;
      position: static;
      background: none;
      border: none;
      height: 88px;
      line-height: 88px;
    }
    &__link--logo {
      border-right: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
    &__link--search {
      font-size: 0;
      padding-top: 35px;
      border-bottom: 1px solid #ececec;
      border-right: 1px solid #ececec;
      & svg {
        margin: 0;
      }
    }
    &__link--cart {
      padding-right: 15px;
      font-size: 17px;
      border-bottom: 1px solid #ececec;
      & svg {
        margin: 0;
        margin-right: 28px;
        padding-top: 35px;
      }
    }
    &__link--catalog {
      padding-left: 50px;
      height: 60px;
      line-height: 60px;
      font-size: 15px;
    }
    &__link--form {
      padding-left: 0;
      height: 60px;
      line-height: 60px;
      font-size: 15px;
    }
  }
}
@media #{$desktop-widths} {
  .main-nav {
    &__item {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    &__item--new-products,
    &__item--sale {
      display: block;
    }
    &__item--catalog {
      order: 1;
      width: 20.5%;
    }
    &__item--form {
      order: 2;
      width: 21.5%;
    }
    &__item--logo {
      order: 3;
      width: 23%;
    }
    &__item--search {
      order: 4;
      width: 7.5%;
    }
    &__item--cart {
      order: 5;
      width: 27.5%;
    }
    &__item--new-products {
      order: 6;
      width: 20%;
    }
    &__item--sale {
      order: 7;
      width: 20%;
    }
    &__delivery-info {
      order: 8;
      margin-left: auto;
      text-align: right;
      padding-right: 50px;
    }
    &__link {
      box-sizing: border-box;
      height: 89px;
      line-height: 89px;
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 17px;
    }
    &__link--catalog {
      padding-top: 0;
      padding-left: 50px;
      text-align: left;
      border-right: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
    }
    &__link--form {
      padding-left: 33px;
      text-align: left;
      border-bottom: 1px solid #ececec;
    }
    &__link--logo {
      text-align: left;
    }
    &__link--search {
      font-size: 0;
      padding-top: 38px;
      padding-left: 38px;
    }
    &__link--cart {
      padding-right: 50px;
      text-align: right;
      border-bottom: 1px solid #ececec;
      & svg {
        padding-left: 33px;
      }
    }
    &__link--new-products {
      height: 60px;
      line-height: 60px;
      padding-left: 50px;
      font-size: 15px;
      text-align: left;
    }
    &__link--sale {
      height: 60px;
      line-height: 60px;
      padding-left: 40px;
      font-size: 15px;
      text-align: left;
    }
  }
}
