.nav-button {
  float: right;
  text-align: right;
  margin: 0;
  padding: 20px;
  margin-right: 21px;
  margin-top: 12px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
@media #{$tablet-widths} {
  .nav-button {
    display: none;
  }
}
