.social-block {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
}
@media #{$tablet-widths} {
  .social-block {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border: none;
    text-align: center;
  }
}
