.social-block {
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}
.social-link {
  display: inline-block;
  cursor: pointer;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #bde2dd;
  }
  & + & {
    margin-left: 36px;
  }

}
@media #{$tablet-widths} {
  .social-block {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
  }
}
