.catalog-block {
  padding: 30px 30px 0;
}
@media #{$tablet-widths} {
  .catalog-block {
    padding: 76px 50px 0;
  }
}
@media #{$desktop-widths} {
  .catalog-block {
    padding: 130px 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
