.catalog-item {
  width: 260px;
  text-decoration: none;
  color: black;
  &__img {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 0;
  }
  &__description {
    padding: 15px 30px;
    margin: 0 0 30px;
    border: 1px solid #ededed;
  }
  &__title {
    padding: 10px 0;
    margin: 0;
    font-size: 17px;
    font-weight: 700;
    line-height: em(24, 17);
  }
  &__info {
    margin: 0;
    padding: 0 0 20px;
    color: #444;
    font-size: 13px;
    font-weight: 400;
    line-height: em(30, 13);
    border-bottom: 1px solid #ececec;
  }
  &__price {
    margin: 0;
    padding: 20px 0 5px;
    font-size: 15px;
    font-weight: 700;
    line-height: em(24, 15);
  }
}
@media #{$tablet-widths} {
  .catalog-item {
    margin: 0;
    padding: 0;
    margin-bottom: 54px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 334px;
    width: 100%;
    border: 1px solid #ededed;
    &__img {
      margin: 0;
      padding: 0;
      width: 334px;
      height: 334px;
      font-size: 0;
    }
    &__description {
      padding: 26px 0 0 28px;
      margin: 0;
      border: none;
    }
    &__title {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: em(24,20);
    }
    &__info {
      margin: 0 0 20px;
      padding: 0 0 180px;
      font-size: 15px;
      line-height: 2em;
    }
    &__price {
      margin: 0;
      padding: 0;
      font-size: 17px;
      line-height: em(24, 17);
    }
  }
}
@media #{$desktop-widths} {
  .catalog-item {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 57px;
    width: 314px;
    height: auto;
    &__img {
      width: 316px;
      height: 462px;
    }
    &__description {
      padding: 27px 27px 0;
    }
    &__description-wrapper {
      min-height: 100px;
    }
    &__info {
      padding: 0;
      margin: 0;
      border: none;
    }
    &__price {
      padding-top: 20px;
      padding-bottom: 20px;
      border-top: 1px solid #ededed;
    }
  }
}
